* {
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  border: border-box;
}

.container1 {
  text-align: center;
}

.title {
  margin-top: 70px;
  color: black;
  font-size: 50px;
  display: inline-block;
  border: 2px solid black;
  text-decoration: none;
  padding: 5px;
}

.title:hover {
  border: 2px solid orange;
}

.banner {
  background-image: url("banner1.jpg");
  height: 350px;
  margin-top: 20px;
  border-radius: 4px;
  object-fit: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.working {
  background-image: url("/static/working.jpg");
  height: 320px;
  margin-top: 200px;
  margin-right: 70px;
  object-fit: cover;
  background-size: cover;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.section {
  text-align: center;
}

.About {
  font-size: 30px;
  color:  #c7522a;
  display: inline-block;
  margin-top: 30px;
  border-bottom: 3px solid #e5c185;
  padding: 5px;
}

.section p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
  font-weight: 500;
  text-align: justify;
  line-height: 2;
  margin: 20px 50px;
  padding: 30px 40px 40px;
}

.job-openings {
  text-align: center;
  margin-left: 30px;
}

.Job{
  font-size: 30px;
  display: inline-block;
  border-bottom: 3px solid black;
  padding: 5px;
  margin-bottom: 40px;
}

.p1 {
  text-align: left;
}

.jobs {
  color: grey;
  margin-bottom: 3px;
}

.j1 {
  margin-bottom: 16px;
  padding: 8px;
}