<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jovian Careers</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  {% include 'nav.html' %}
  <div class="container1">
    <a class="title" href="/">
    {{company_name}} Careers
    </a>
    <div class="banner img-fluid"></div>
  </div>

  <div class="row">

    <div class="col-6">
      <div class="section">
        <h2 class="About">About Jovian</h2>
        <p>In a fast-evolving job market, finding the right career path can feel like navigating a vast universe. At Jovian, we believe that every professional deserves the chance to shine brightly among the stars. Our innovative job website is designed to connect talented individuals with companies looking for their next star employees.</p>
        <p>At Jovian, we understand that the job search experience should be as seamless as possible. Our user-friendly platform features powerful search tools, allowing you to filter opportunities based on your skills, interests, and location. Whether you’re a recent graduate or an experienced professional looking for a change, our curated job listings span diverse industries, from tech and finance to healthcare and creative fields.</p>
      </div>
    </div>

    <div class="col-6">
        <div class="working"></div>
    </div>

  </div>
  
  <div class="job-openings">
    <h2 class="Job">Job Openings</h2>
    <div class="p1">
      {% for job in jobs %}
        {% include 'jobitem.html' %}
      {% endfor %}
    </div>
    <button type="button" class="btn btn-primary btn-lg">Contact Us</button>
  </div>
  {% include 'footer.html' %}
</body>
</html>